@import url(https://fonts.googleapis.com/css2?&display=swap&family=McLaren);

body {
    color: aliceblue;
    background-color: #3f3f3f;
    font-family: 'McLaren';
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

